body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 3rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  line-height: 2;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem !important;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.4rem 1rem;
  border-radius: 4px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 8px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 8px;
}
.bg-primary {
  background-color: #ff513c !important;
}
.bg-success {
  background-color: #fff000 !important;
}
.bg-info {
  background-color: #61728a !important;
}
.bg-warning {
  background-color: #d52b27 !important;
}
.bg-danger {
  background-color: #1352ff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ef1a00 !important;
  border-color: #ef1a00 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ef1a00 !important;
  border-color: #ef1a00 !important;
}
.btn-primary:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #282f39 !important;
  border-color: #282f39 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #080a0c !important;
  border-color: #080a0c !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #080a0c !important;
  border-color: #080a0c !important;
}
.btn-secondary:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-info,
.btn-info:active {
  background-color: #61728a !important;
  border-color: #61728a !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #414d5d !important;
  border-color: #414d5d !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #414d5d !important;
  border-color: #414d5d !important;
}
.btn-info:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-success,
.btn-success:active {
  background-color: #fff000 !important;
  border-color: #fff000 !important;
  color: #000000 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000000 !important;
  background-color: #b3a800 !important;
  border-color: #b3a800 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000000 !important;
  background-color: #b3a800 !important;
  border-color: #b3a800 !important;
}
.btn-success:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #d52b27 !important;
  border-color: #d52b27 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #941e1b !important;
  border-color: #941e1b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #941e1b !important;
  border-color: #941e1b !important;
}
.btn-warning:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #1352ff !important;
  border-color: #1352ff !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #0035c5 !important;
  border-color: #0035c5 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0035c5 !important;
  border-color: #0035c5 !important;
}
.btn-danger:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-white,
.btn-white:active {
  background-color: #f3f3f3 !important;
  border-color: #f3f3f3 !important;
  color: #737373 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #737373 !important;
  background-color: #cdcdcd !important;
  border-color: #cdcdcd !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #737373 !important;
  background-color: #cdcdcd !important;
  border-color: #cdcdcd !important;
}
.btn-white:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-white:hover {
  color: white!important;
}
.btn-black,
.btn-black:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #ff513c;
  color: #ff513c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ff513c;
  border-color: #ff513c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #282f39;
  color: #282f39;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #282f39;
  border-color: #282f39;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #282f39 !important;
  border-color: #282f39 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #61728a;
  color: #61728a;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #61728a;
  border-color: #61728a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #61728a !important;
  border-color: #61728a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #fff000;
  color: #fff000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000;
  background-color: #fff000;
  border-color: #fff000;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #fff000 !important;
  border-color: #fff000 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #d52b27;
  color: #d52b27;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #d52b27;
  border-color: #d52b27;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d52b27 !important;
  border-color: #d52b27 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #1352ff;
  color: #1352ff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #1352ff;
  border-color: #1352ff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #1352ff !important;
  border-color: #1352ff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #f3f3f3;
  color: #f3f3f3;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #737373;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #737373 !important;
  background-color: #f3f3f3 !important;
  border-color: #f3f3f3 !important;
}
.text-primary {
  color: #ff513c !important;
}
.text-secondary {
  color: #282f39 !important;
}
.text-success {
  color: #fff000 !important;
}
.text-info {
  color: #61728a !important;
}
.text-warning {
  color: #d52b27 !important;
}
.text-danger {
  color: #1352ff !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ffaca2 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #526075 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #fff666 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #99a6b8 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #e77e7b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #799dff !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #61728a;
}
.alert-warning {
  background-color: #d52b27;
}
.alert-danger {
  background-color: #1352ff;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff513c;
  border-color: #ff513c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff513c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fffccc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #a8b3c2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f7d2d1;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfe8ff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
blockquote {
  border-color: #ff513c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff513c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff513c;
  border-bottom-color: #ff513c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff513c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #282f39 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff513c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tRrYZRQczu {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 80px;
}
.cid-tRrYZRQczu nav.navbar {
  position: fixed;
}
.cid-tRrYZRQczu .navbar-logo {
  margin-right: 1rem !important;
}
.cid-tRrYZRQczu .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tRrYZRQczu .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tRrYZRQczu .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tRrYZRQczu .dropdown-item:hover,
.cid-tRrYZRQczu .dropdown-item:focus {
  background: #ff513c !important;
  color: white !important;
}
.cid-tRrYZRQczu .dropdown-item:hover span {
  color: white;
}
.cid-tRrYZRQczu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tRrYZRQczu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tRrYZRQczu .nav-dropdown .link {
  padding: 0 1.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tRrYZRQczu .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tRrYZRQczu .nav-link {
  position: relative;
}
.cid-tRrYZRQczu .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tRrYZRQczu .container {
    flex-wrap: nowrap;
  }
}
.cid-tRrYZRQczu .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tRrYZRQczu .dropdown-menu,
.cid-tRrYZRQczu .navbar.opened {
  background: #151515 !important;
}
.cid-tRrYZRQczu .nav-item:focus,
.cid-tRrYZRQczu .nav-link:focus {
  outline: none;
}
.cid-tRrYZRQczu .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tRrYZRQczu .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tRrYZRQczu .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tRrYZRQczu .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tRrYZRQczu .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tRrYZRQczu .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tRrYZRQczu .navbar {
  min-height: 80px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #151515;
}
.cid-tRrYZRQczu .navbar.opened {
  transition: all 0.3s;
}
.cid-tRrYZRQczu .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tRrYZRQczu .navbar .navbar-logo img {
  width: auto;
}
.cid-tRrYZRQczu .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tRrYZRQczu .navbar.collapsed {
  justify-content: center;
}
.cid-tRrYZRQczu .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tRrYZRQczu .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tRrYZRQczu .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tRrYZRQczu .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tRrYZRQczu .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tRrYZRQczu .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tRrYZRQczu .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tRrYZRQczu .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tRrYZRQczu .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tRrYZRQczu .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tRrYZRQczu .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tRrYZRQczu .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tRrYZRQczu .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tRrYZRQczu .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tRrYZRQczu .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tRrYZRQczu .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tRrYZRQczu .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tRrYZRQczu .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tRrYZRQczu .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tRrYZRQczu .navbar.navbar-short {
  min-height: 80px;
}
.cid-tRrYZRQczu .navbar.navbar-short .navbar-brand {
  min-height: 80px;
  padding: 0;
}
.cid-tRrYZRQczu .navbar-brand {
  min-height: 80px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tRrYZRQczu .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tRrYZRQczu .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tRrYZRQczu .dropdown-item.active,
.cid-tRrYZRQczu .dropdown-item:active {
  background-color: transparent;
}
.cid-tRrYZRQczu .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tRrYZRQczu .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tRrYZRQczu .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tRrYZRQczu .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #151515;
}
.cid-tRrYZRQczu .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tRrYZRQczu .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tRrYZRQczu ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tRrYZRQczu .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tRrYZRQczu button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tRrYZRQczu button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tRrYZRQczu button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tRrYZRQczu button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tRrYZRQczu button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tRrYZRQczu button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tRrYZRQczu nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tRrYZRQczu nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tRrYZRQczu nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tRrYZRQczu nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tRrYZRQczu .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tRrYZRQczu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tRrYZRQczu .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tRrYZRQczu .navbar {
    height: 70px;
  }
  .cid-tRrYZRQczu .navbar.opened {
    height: auto;
  }
  .cid-tRrYZRQczu .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rZqakGdhKi {
  background-image: url("../../../assets/images/gidzap-glavnaya-2000x1333.jpg");
}
.cid-rZqakGdhKi .card {
  border-radius: 0;
  margin: auto 0;
}
.cid-rZqakGdhKi .card .wrapper .mbr-section-title {
  color: #ffffff;
  font-weight: 700;
}
.cid-rZqakGdhKi .card .wrapper .mbr-section-title span:first-child {
  color: #ff4e3c;
}
.cid-rZqakGdhKi .card .wrapper .mbr-section-title span:nth-child(2) {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-rZqakGdhKi .card .wrapper .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rZqakGdhKi .card .wrapper .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-rZqakGdhKi .card .wrapper .mbr-text {
  color: #ffffff;
  font-weight: 300;
}
.cid-rZqakGdhKi .card .wrapper .mbr-list {
  margin-top: 20px;
  color: #ffffff;
}
.cid-rZqakGdhKi .card .wrapper .mbr-list .list {
  list-style-type: none;
  padding-left: 0;
}
.cid-rZqakGdhKi .card .wrapper .mbr-list .list li {
  line-height: 1.75;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cid-rZqakGdhKi .card .wrapper .mbr-list .list li:before {
  font-weight: 900;
  color: #ff4e3c;
  display: inline-block;
  content: "\e97c";
  font-family: 'Moririse2' !important;
  text-align: center;
  line-height: 1.5em;
  transition: all 0.3s;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.cid-rZqakGdhKi .card .wrapper .buttons-wrap .mbr-section-btn .btn.display-4 {
  padding: 12px 35px;
  line-height: 1.0625;
}
.cid-rZqakYmFVv {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rZqakYmFVv .row {
  flex-direction: row-reverse;
}
.cid-rZqakYmFVv .img-wrap img {
  width: 100%;
}
.cid-rZqakYmFVv .card {
  border-radius: 0;
  margin: auto 0;
}
.cid-rZqakYmFVv .card .wrapper {
  overflow: hidden;
}
.cid-rZqakYmFVv .card .wrapper .mbr-section-title {
  color: #06182d;
}
.cid-rZqakYmFVv .card .wrapper .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-rZqakYmFVv .card .wrapper .mbr-section-subtitle {
  color: #06182d;
}
.cid-rZqakYmFVv .card .wrapper .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-rZqakYmFVv .card .wrapper .mbr-text {
  color: #61728a;
  font-weight: 300;
}
.cid-rZqakYmFVv .card .wrapper .sign-wrap {
  text-align: center;
  overflow: hidden;
  position: relative;
}
.cid-rZqakYmFVv .card .wrapper .sign-wrap::before {
  right: 65.8%;
  height: 2px;
  transform: translateY(-50%);
  width: 250px;
  top: 50%;
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #dfe3e8;
}
.cid-rZqakYmFVv .card .wrapper .sign-wrap img {
  width: 140px;
}
.cid-rZqakYmFVv .card .wrapper .sign-wrap::after {
  left: 65.9%;
  height: 2px;
  transform: translateY(-50%);
  width: 250px;
  top: 50%;
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #dfe3e8;
}
.cid-rZqakYmFVv .card .wrapper .mbr-section-title {
  text-align: left;
}
.cid-rZqalB3CUR {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f5f5f5;
}
.cid-rZqalB3CUR .mbr-section-title {
  color: #06182d;
  margin-bottom: 1rem;
  transition: all 0.15s linear 0s;
}
.cid-rZqalB3CUR .mbr-section-title.display-5 {
  letter-spacing: 1px;
}
.cid-rZqalB3CUR .mbr-section-title:hover {
  opacity: 0.8;
}
.cid-rZqalB3CUR .mbr-section-subtitle {
  color: #61728a;
  margin-bottom: 1rem;
  letter-spacing: 0.03em;
}
.cid-rZqalB3CUR .mbr-section-subtitle.mbr-light {
  font-weight: 300;
}
.cid-rZqalB3CUR .btn {
  margin: 0px !important;
}
.cid-rZqalB3CUR .btn.btn-success-outline {
  color: #000000;
}
.cid-rZqalB3CUR .btn.btn-sm {
  padding: 7px 39px;
}
.cid-rZqalB3CUR .second-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-rZqalB3CUR .carousel-item {
  justify-content: center;
}
.cid-rZqalB3CUR .carousel-item .media-container-row {
  flex-grow: 1;
}
.cid-rZqalB3CUR .carousel-item .media-container-row .col-md-12 {
  padding: 0;
}
.cid-rZqalB3CUR .carousel-item .wrap-img {
  text-align: center;
  max-height: 400px;
}
.cid-rZqalB3CUR .carousel-item .wrap-img img {
  width: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cid-rZqalB3CUR .carousel {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  position: relative;
  z-index: 1;
}
.cid-rZqalB3CUR .carousel-indicators {
  display: none;
  position: relative;
  margin-top: 2rem;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-rZqalB3CUR .second-col {
    padding-top: 2rem;
  }
  .cid-rZqalB3CUR .share_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .cid-rZqalB3CUR .share_buttons .icon-wrapper {
    margin: 10px !important;
  }
}
.cid-rZqalB3CUR .carousel-controls {
  display: flex;
  justify-content: center;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
}
.cid-rZqalB3CUR .carousel-controls .carousel-control {
  background: #000000;
}
.cid-rZqalB3CUR .carousel-controls .carousel-control.carousel-control-prev {
  right: auto;
  left: 0;
  bottom: 0;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  position: absolute;
  text-align: center;
}
.cid-rZqalB3CUR .carousel-controls .carousel-control.carousel-control-next {
  left: auto;
  right: 0;
  bottom: 0;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  margin-right: 0;
  position: absolute;
  text-align: center;
}
.cid-rZqalB3CUR .carousel-controls .carousel-control .span {
  font-size: 1rem;
  opacity: 1 !important;
}
.cid-rZqalB3CUR .share_buttons .icon-wrapper {
  background: #ffffff;
  display: flex;
  width: 31px;
  height: 31px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #c3cad2;
  transition: all 0.3s;
  z-index: 4;
  cursor: pointer;
  margin: 10px 0 10px auto;
}
.cid-rZqalB3CUR .share_buttons .icon-wrapper:hover .link-icon {
  color: #007bff;
}
.cid-rZqalB3CUR .share_buttons .icon-wrapper .link-icon {
  display: inline-block;
  color: #61728a;
  transition: all 0.3s;
  font-size: 14px;
  justify-content: center;
}
.cid-rZqalB3CUR .sticky-tag {
  position: absolute;
  top: 0;
  left: 4px;
  z-index: 10;
  display: block;
}
.cid-rZqalB3CUR .sticky-tag .mbr-text {
  padding: 5px 6px;
  margin: 0 3px 9px;
  text-align: center;
  display: inline-block;
  line-height: 1;
  transform: skew(-22deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  font-weight: 400;
  border-image-slice: 1;
  color: #ffffff;
}
.cid-rZqalB3CUR .sticky-tag .mbr-text::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 1.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 12px 0;
  border-color: transparent #ff5e3a transparent transparent;
  transform: skew(22deg) !important;
}
.cid-rZqalT6jOx {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/06-1920x1281.jpg");
}
.cid-rZqalT6jOx .card {
  border-radius: 0;
  margin: auto 0;
}
.cid-rZqalT6jOx .card .wrapper .mbr-section-title {
  color: #ffffff;
  font-weight: 700;
}
.cid-rZqalT6jOx .card .wrapper .mbr-section-title span:nth-child(2) {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-rZqalT6jOx .card .wrapper .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rZqalT6jOx .card .wrapper .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-rZqalT6jOx .card .wrapper .mbr-text {
  color: #ffffff;
  font-weight: 300;
}
.cid-rZqalT6jOx .card .wrapper .buttons-wrap .mbr-section-btn .btn.display-4 {
  padding: 7px 39px;
  line-height: 1.5;
  letter-spacing: 0;
}
.cid-rZqalT6jOx .card .wrapper .buttons-wrap .mbr-section-btn .btn.btn-success-outline {
  color: #ffffff;
}
.cid-rZqalT6jOx .card .wrapper .buttons-wrap .mbr-section-btn .btn.btn-success-outline:hover {
  color: #000000;
}
.cid-tRCVeUDEhd {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tRCVeUDEhd h3 {
  text-align: center;
  font-weight: 300;
}
.cid-tRCVeUDEhd .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-tRCVeUDEhd .mbr-section-title {
  color: #06182d;
}
.cid-tRCVeUDEhd .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-tRCVeUDEhd .mbr-section-subtitle {
  color: #61728a;
}
.cid-tRCVeUDEhd .mbr-crt-title .card-title {
  color: #61728a;
}
.cid-tRCVeUDEhd .card {
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-tRCVeUDEhd ellipse {
  stroke: white;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tRCVeUDEhd .card {
    flex-basis: 50%;
  }
}
.cid-tRCVeUDEhd .progress1 path {
  stroke: #fff000;
}
.cid-tRCVeUDEhd .progress2 path {
  stroke: #ff4e3c;
}
.cid-tRCVeUDEhd .progress3 path {
  stroke: #52c158;
}
.cid-tRCVeUDEhd .progress4 path {
  stroke: #1887cd;
}
.cid-tRCVeUDEhd .card-text {
  color: #767676;
}
.cid-tRCVeUDEhd .pie_progress__number {
  color: #06182d;
}
.cid-tRCVeUDEhd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRCVeUDEhd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRCWPcLEhH {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tRCWPcLEhH .img-wrap {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-position: 50% 50%;
  z-index: 2;
  background-image: url("../../../assets/images/03.jpg");
}
.cid-tRCWPcLEhH .card {
  border-radius: 0;
  margin: auto 0;
}
.cid-tRCWPcLEhH .card .wrapper .mbr-section-title {
  color: #06182d;
}
.cid-tRCWPcLEhH .card .wrapper .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-tRCWPcLEhH .card .wrapper .mbr-section-subtitle {
  color: #06182d;
}
.cid-tRCWPcLEhH .card .wrapper .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-tRCWPcLEhH .card .wrapper .mbr-text {
  color: #61728a;
  font-weight: 300;
}
.cid-tRCWPcLEhH .card .wrapper .mbr-list {
  margin-top: 20px;
  color: #606060;
}
.cid-tRCWPcLEhH .card .wrapper .mbr-list .list {
  list-style-type: none;
  padding-left: 0;
}
.cid-tRCWPcLEhH .card .wrapper .mbr-list .list li {
  line-height: 1.75;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cid-tRCWPcLEhH .card .wrapper .mbr-list .list li:before {
  font-weight: 900;
  color: #ff4e3c;
  display: inline-block;
  content: "\e97c";
  font-family: "Moririse2" !important;
  text-align: center;
  line-height: 1.5em;
  transition: all 0.3s;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.cid-tRCWPcLEhH .card .wrapper .link-wrap {
  width: 100%;
}
.cid-tRCWPcLEhH .card .wrapper .link-wrap .link {
  position: relative;
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-block;
  width: fit-content;
  transition: all 0.3s;
  transition-delay: 0.15s;
  text-align: left;
}
.cid-tRCWPcLEhH .card .wrapper .link-wrap .link:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: currentColor;
  bottom: -6px;
  opacity: 0.2;
  left: 0;
}
.cid-tRCWPcLEhH .card .wrapper .link-wrap .link:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  transition: all 0.4s ease-in-out;
  background: currentColor;
  bottom: -6px;
  left: auto;
  right: 0;
}
.cid-tRCWPcLEhH .card .wrapper .link-wrap .link:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}
.cid-tRCWPcLEhH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRCWPcLEhH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRCU0r9iOF {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-tRCU0r9iOF .mbr-section-title {
  color: #06182d;
}
.cid-tRCU0r9iOF .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-tRCU0r9iOF .mbr-section-subtitle {
  color: #06182d;
}
.cid-tRCU0r9iOF .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-tRCU0r9iOF .card:nth-child(even) {
  margin-top: 70px;
}
.cid-tRCU0r9iOF .card:nth-child(odd)::after {
  content: "";
  background-size: contain;
  background-image: url("../../../assets/images/arrow2.png");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 185px;
  height: 50px;
  z-index: 4;
  top: 1px;
  right: -148px;
}
.cid-tRCU0r9iOF .card:nth-child(2)::after {
  content: "";
  background-size: contain;
  background-image: url("../../../assets/images/arrow2.png");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 175px;
  height: 80px;
  z-index: 4;
  bottom: -12px;
  right: -100px;
  transform: scale(1, -1);
}
.cid-tRCU0r9iOF .card .card-wrapper {
  height: 100%;
}
.cid-tRCU0r9iOF .card .card-wrapper .card-img {
  position: relative;
}
.cid-tRCU0r9iOF .card .card-wrapper .card-img:hover img {
  transform: rotateY(180deg);
}
.cid-tRCU0r9iOF .card .card-wrapper .card-img img {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
  margin-left: auto;
  margin-right: auto;
}
.cid-tRCU0r9iOF .card .card-wrapper .card-box {
  padding-top: 1rem;
}
.cid-tRCU0r9iOF .card .card-wrapper .card-box .card-title {
  margin-bottom: 0;
  color: #06182d;
  text-align: center;
  font-weight: 700;
}
.cid-tRCU0r9iOF .card .card-wrapper .card-box .mbr-text {
  text-align: center;
  color: #030f1c;
}
@media (max-width: 991px) {
  .cid-tRCU0r9iOF .card:after {
    background-image: none !important;
    display: none !important;
  }
  .cid-tRCU0r9iOF .card:nth-child(even) {
    margin-top: 0;
  }
}
.cid-tRCU0r9iOF .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRCU0r9iOF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-rZqana3jMB {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/14-1920x1280.jpg");
}
.cid-rZqana3jMB .mbr-section-title.mbr-bold {
  font-weight: 700;
}
.cid-rZqana3jMB .mbr-section-subtitle {
  color: #ff4e3c;
}
.cid-rZqana3jMB .mbr-section-subtitle.mbr-bold {
  font-weight: 700;
}
.cid-rZqana3jMB .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-rZqana3jMB .mbr-text {
  color: #ffffff;
}
.cid-rZqana3jMB .text-wrap {
  transition: all 0.3s;
  padding: 23px;
  bottom: 0;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.cid-rZqana3jMB .text-wrap .icons-wrap .icon-wrapper {
  background: transparent;
  display: flex;
  width: 31px;
  height: 31px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #61728a;
  transition: all 0.3s;
  z-index: 4;
  cursor: pointer;
  margin: 0 0.2rem;
}
.cid-rZqana3jMB .text-wrap .icons-wrap .icon-wrapper:hover {
  background-color: #55acee;
  border-color: #55acee;
}
.cid-rZqana3jMB .text-wrap .icons-wrap .icon-wrapper:hover .link-icon {
  color: #ffffff;
}
.cid-rZqana3jMB .text-wrap .icons-wrap .icon-wrapper .link-icon {
  display: inline-block;
  color: #ffffff;
  transition: all 0.3s;
  font-size: 14px;
  justify-content: center;
}
.cid-rZqana3jMB .text-wrap .icons-wrap::before {
  height: 2px;
  width: 30%;
  top: 50%;
  right: 58%;
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #61728a;
}
@media (max-width: 992px) {
  .cid-rZqana3jMB .text-wrap .icons-wrap::before {
    display: none;
  }
}
.cid-rZqana3jMB .text-wrap .icons-wrap::after {
  height: 2px;
  width: 30%;
  top: 50%;
  left: 58%;
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #61728a;
}
@media (max-width: 992px) {
  .cid-rZqana3jMB .text-wrap .icons-wrap::after {
    display: none;
  }
}
.cid-rZqana3jMB .buttons-wrap {
  text-align: center;
}
.cid-rZqana3jMB .buttons-wrap .mbr-section-btn {
  display: inline-block;
}
.cid-rZqana3jMB .buttons-wrap .mbr-section-btn .btn {
  padding-left: 39px;
  padding-right: 39px;
}
.cid-rZqana3jMB .buttons-wrap .mbr-section-btn .btn-success-outline {
  color: #ffffff;
}
.cid-rZqana3jMB .buttons-wrap .mbr-section-btn .btn-success-outline:hover {
  color: #000000;
}
.cid-rZqana3jMB .buttons-wrap .or {
  text-align: center;
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}
.cid-rZqapN0JPL {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f4f6f9;
}
.cid-rZqapN0JPL .mbr-section-title {
  color: #06182d;
}
.cid-rZqapN0JPL .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-rZqapN0JPL .mbr-section-subtitle {
  color: #06182d;
}
.cid-rZqapN0JPL .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-rZqapN0JPL .mbr-section-text {
  color: #999999;
}
.cid-rZqapN0JPL .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-rZqapN0JPL .form-control {
  box-shadow: none;
  margin-bottom: 15px;
  padding: 0.7em 1.07em 0em 0.8em;
  background-color: #f4f6f9;
  border: 0px solid #dfe3e8;
  border-bottom: 1px solid #dfe3e8;
  color: #61728a;
  line-height: 1.43;
  min-height: 3.5em;
  border-radius: .25rem;
}
.cid-rZqapN0JPL .form-control:focus,
.cid-rZqapN0JPL .form-control:hover {
  border: 0px solid #f4f6f9;
  background-color: #f4f6f9;
}
.cid-rZqapN0JPL .form-control.textarea {
  padding-top: 40px;
}
.cid-rZqapN0JPL .form-group {
  margin-bottom: 1rem;
}
.cid-rZqapN0JPL .form-group .wrap {
  display: flex;
}
.cid-rZqapN0JPL .form-group .wrap span {
  padding: 0em 0em;
  margin-bottom: 0px;
  align-self: center;
  color: #61728a;
}
.cid-rZqapN0JPL input::-webkit-input-placeholder,
.cid-rZqapN0JPL textarea::-webkit-input-placeholder {
  color: #61728a;
}
.cid-rZqapN0JPL input:-moz-placeholder,
.cid-rZqapN0JPL textarea:-moz-placeholder {
  color: #61728a;
}
.cid-rZqapN0JPL .jq-selectbox li,
.cid-rZqapN0JPL .jq-selectbox li {
  background-color: #f4f6f9;
  color: #000000;
}
.cid-rZqapN0JPL .jq-selectbox li:hover,
.cid-rZqapN0JPL .jq-selectbox li.selected {
  background-color: #f4f6f9;
  color: #000000;
}
.cid-rZqapN0JPL .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #f4f6f9;
}
.cid-rZqapN0JPL .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #f4f6f9;
}
.cid-rZqapN0JPL .map {
  width: 100%;
  height: 30rem;
}
.cid-rZqapN0JPL .map iframe {
  width: inherit;
  height: 100%;
}
.cid-rZqapN0JPL .icon-block {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.cid-rZqapN0JPL .icon-block .icon-block__icon {
  display: inline-block;
  flex-shrink: 0;
}
.cid-rZqapN0JPL .icon-block .icon-block__title {
  display: inline-block;
  align-self: center;
  margin-bottom: 0;
  line-height: 1;
  font-style: italic;
}
.cid-rZqapN0JPL .mbr-text {
  color: #767676;
}
.cid-rZqapN0JPL a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rZqapN0JPL .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-rZqapN0JPL .input-group-btn {
  display: block;
  text-align: left;
}
.cid-rZqapN0JPL .input-group-btn .btn-sm {
  padding: 7px 39px;
}
.cid-rZqapN0JPL textarea.form-control {
  resize: none;
}
.cid-rZqapN0JPL .google-map {
  height: 25rem;
  position: relative;
}
.cid-rZqapN0JPL .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rZqapN0JPL .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rZqapN0JPL .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rZqapN0JPL .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 767px) {
  .cid-rZqapN0JPL h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-rZqapN0JPL .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-rZqapN0JPL .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .cid-rZqapN0JPL .google-map {
    padding-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .cid-rZqapN0JPL * {
    text-align: center !important;
  }
}
.cid-rZqasE8Bhf {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #06182d;
}
.cid-rZqasE8Bhf .copyright {
  display: flex;
}
@media (max-width: 992px) {
  .cid-rZqasE8Bhf .copyright {
    margin-bottom: 1rem;
  }
}
.cid-rZqasE8Bhf .text-wrap {
  transition: all 0.3s;
  padding: 23px;
  bottom: 0;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.cid-rZqasE8Bhf .text-wrap .icons-wrap .icon-wrapper {
  background: #06182d;
  display: flex;
  width: 31px;
  height: 31px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #384657;
  transition: all 0.3s;
  z-index: 4;
  cursor: pointer;
  margin: 0 0.2rem;
}
.cid-rZqasE8Bhf .text-wrap .icons-wrap .icon-wrapper:hover {
  background: #ff4e3c;
  border-color: #ff4e3c;
}
.cid-rZqasE8Bhf .text-wrap .icons-wrap .icon-wrapper:hover .link-icon {
  color: #ffffde;
}
.cid-rZqasE8Bhf .text-wrap .icons-wrap .icon-wrapper .link-icon {
  display: inline-block;
  color: #ffffde;
  transition: all 0.3s;
  font-size: 14px;
  justify-content: center;
}
.cid-rZqasE8Bhf .text-wrap .icons-wrap::before {
  height: 2px;
  width: 100%;
  top: 50%;
  right: 58%;
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #384657;
}
@media (max-width: 992px) {
  .cid-rZqasE8Bhf .text-wrap .icons-wrap::before {
    display: none;
  }
}
.cid-rZqasE8Bhf .text-wrap .icons-wrap::after {
  height: 2px;
  width: 100%;
  top: 50%;
  left: 58%;
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #384657;
}
@media (max-width: 992px) {
  .cid-rZqasE8Bhf .text-wrap .icons-wrap::after {
    display: none;
  }
}
.cid-tSnptpBHVd.popup-builder {
  background-color: #ffffff;
}
.cid-tSnptpBHVd.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-tSnptpBHVd.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-tSnptpBHVd .modal-content,
.cid-tSnptpBHVd .modal-dialog {
  height: auto;
}
.cid-tSnptpBHVd .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-tSnptpBHVd .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-tSnptpBHVd .form-wrapper .mbr-form .form-group,
  .cid-tSnptpBHVd .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-tSnptpBHVd .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-tSnptpBHVd .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tSnptpBHVd .mbr-text {
  text-align: center;
}
.cid-tSnptpBHVd .pt-0 {
  padding-top: 0 !important;
}
.cid-tSnptpBHVd .pb-0 {
  padding-bottom: 0 !important;
}
.cid-tSnptpBHVd .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-tSnptpBHVd .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-tSnptpBHVd .modal-open {
  overflow: hidden;
}
.cid-tSnptpBHVd .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-tSnptpBHVd .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-tSnptpBHVd .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-tSnptpBHVd .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-tSnptpBHVd .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-tSnptpBHVd .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-tSnptpBHVd .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-tSnptpBHVd .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-tSnptpBHVd .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-tSnptpBHVd .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-tSnptpBHVd .modal-backdrop.fade {
  opacity: 0;
}
.cid-tSnptpBHVd .modal-backdrop.show {
  opacity: .5;
}
.cid-tSnptpBHVd .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-tSnptpBHVd .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tSnptpBHVd .modal-header {
    padding: 1rem;
  }
}
.cid-tSnptpBHVd .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-tSnptpBHVd .modal-header .close svg {
  fill: #353535;
}
.cid-tSnptpBHVd .modal-header .close:hover {
  opacity: 1;
}
.cid-tSnptpBHVd .modal-header .close:focus {
  outline: none;
}
.cid-tSnptpBHVd .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-tSnptpBHVd .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-tSnptpBHVd .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tSnptpBHVd .modal-body {
    padding: 1rem;
  }
}
.cid-tSnptpBHVd .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tSnptpBHVd .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tSnptpBHVd .modal-footer {
    padding: 1rem;
  }
}
.cid-tSnptpBHVd .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-tSnptpBHVd .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-tSnptpBHVd .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-tSnptpBHVd .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-tSnptpBHVd .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-tSnptpBHVd .modal-lg,
  .cid-tSnptpBHVd .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-tSnptpBHVd .modal-xl {
    max-width: 1140px;
  }
}
.cid-tSnptpBHVd .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-tSnptpBHVd .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-tSnptpBHVd .form-group {
  margin-bottom: 1rem;
}
.cid-tSnptpBHVd .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-tSnptpBHVd .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-tSnptpBHVd .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-tSnptpBHVd .mbr-section-btn {
  margin: 0;
}
.cid-tSnptpBHVd .mbr-section-btn .btn {
  margin: 0;
}
